<template v-if="store.street || store.ext_number || store.int_number || store.neighborhood || store.city || store.state || store.zip_code">
    <span>{{ store.street }}</span>
    <span v-if="store.ext_number">&nbsp;{{ store.ext_number }}</span>
    <span v-if="store.int_number"> - {{ store.int_number }}</span>
    <br v-if="store.neighborhood || store.city || store.state || store.zip_code" />
    <span v-if="store.neighborhood">{{ store.neighborhood }}</span>
    <span v-if="store.neighborhood && (store.city || store.state || store.zip_code)"> - </span>
    <span v-if="store.city">{{ store.city }}</span>
    <span v-if="store.city && (store.state || store.zip_code)"> - </span>
    <span v-if="store.state">{{ store.state }}</span>
    <span v-if="store.state && store.zip_code"> - </span>
    <span v-if="store.zip_code">{{ store.zip_code }}</span>
</template>
