<header id="menu" class="bd-navbar">
    <nav class="menu__navigation">
        <div class="menu__logo">
            <a href="./">
                <img :src="store.logo" alt="logo" class="img-fluid d-none d-lg-block" width="76" height="76" />
                <img
                    :src="store.logo"
                    alt="logo"
                    class="img-fluid d-sm-block d-md-block d-lg-none"
                    width="76"
                    height="76"
                />
            </a>
        </div>
        <div class="menu__navigation-list">
            <div class="navbar-toggler" id="toggle-menu">
                <p>Menú</p>
                <div class="nav-hamb">
                    <span class="menu__nav--icon"></span>
                    <span class="menu__nav--icon"></span>
                    <span class="menu__nav--icon"></span>
                </div>
            </div>
        </div>
    </nav>
</header>
<div class="overlay" id="overlay">
    <div class="closes-menu" id="toggle-ativo">
        <span class="menu__nav--icon"></span>
        <span class="menu__nav--icon"></span>
        <span class="menu__nav--icon"></span>
    </div>
    <div class="overlay__nav">
        <div class="overlay__nav--list col-md-6">
            <div class="menu__logo">
                <a href="./">
                    <img :src="store.logo" alt="logo" class="img-fluid" />
                </a>
                <div class="menu__logo--redes">
                    <gm-redes></gm-redes>
                </div>
            </div>
            <ul>
                <li class="nav-item">
                    <a href="./" class="nav-link">Início</a>
                </li>
                <li class="nav-item">
                    <a href="suites.html" class="nav-link">Suites</a>
                </li>
                <li class="nav-item">
                    <a href="motel.html" class="nav-link">Sobre el Motel</a>
                </li>
                <li class="nav-item">
                    <a v-if="store.whatsapp_link" :href="store.whatsapp_link" target="_blank" class="nav-link">
                        <i class="fa-brands fa-whatsapp"></i> WhatsApp</a
                    >
                </li>
            </ul>
        </div>
        <div class="overlay__nav--bg col-md-6" :style="menuBgStyle"></div>
    </div>
</div>
